<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head :: head('Modifica')}"></head>

<body>
    <main class="container mt-5 py-5">
        <form th:action="@{|/register|}" th:object="${user}" method="post">
            <div class="mb-3">
                <label for="email">Email</label>
                <input type="text" id="email" class="form-control" th:field="*{email}" th:errorClass="is-invalid">

                <div th:if="${#fields.hasErrors('email')}" class="invalid-feedback">
                    <ul>
                        <li th:each="error : ${#fields.errors('email')}" th:text="${error}"></li>
                    </ul>
                </div>
            </div>
            
            <div class="mb-3">
                <label for="password">Password</label>
                <input type="text" id="password" class="form-control" th:field="*{password}" th:errorClass="is-invalid">

                <div th:if="${#fields.hasErrors('password')}" class="invalid-feedback">
                    <ul>
                        <li th:each="error : ${#fields.errors('password')}" th:text="${error}">
                        </li>
                    </ul>
                </div>
            </div>

            <button type="submit" class="btn btn-primary">Crea</button>

        </form>
    </main>

    <footer th:replace="~{fragments/footer :: script}"></footer>

</body>

</html>