<th:block th:fragment="head(pageTitle)">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>[[${pageTitle}]]</title>
    <meta name="description" content="">
    <!-- <link rel="icon" type="image/x-ico" th:href="">
    <link rel="shortcut icon" th:href="" type="image/x-icon"> -->
    <link th:href="@{https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/css/bootstrap.min.css}" th:rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" th:href="@{/css/style.css}">

</th:block>