<th:block th:fragment="navbar">
  <nav class="navbar bg-dark navbar-expand-lg border-bottom border-body" data-bs-theme="dark">
    <div class="container-fluid">
      <img th:src="@{img/icons/logo.jpg}" alt="Bootstrap" width="30" height="30">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" th:href="@{/}">Home</a>
          </li>

          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Contatti
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="https://www.linkedin.com/in/matteo-invidia-009953349/"
                  target="_blank">LinkedIn
                  <img class="img-icon" th:src="@{img/icons/linkedin-icon.ico}" alt="Logo LinkedIn">
                </a>

              </li>

              <li><a class="dropdown-item"
                  href="https://www.instagram.com/matteoinvidia?igsh=eXBsOWRydHRscHJ0&utm_source=qr"
                  target="_blank">Instagram
                  <img class="img-icon" th:src="@{img/icons/instagram-icon.ico}" alt="Logo instagram">
                </a>
              </li>

              <li>
                <a class="dropdown-item" href="https://github.com/MatteInvi" target="_blank">
                  GitHub
                  <img class="img-icon" th:src="@{img/icons/github.png}" alt="Logo github">
                </a>
              </li>
              <hr class="dropdown-divider">
          </li>
          <li><a class="dropdown-item" th:href="@{/email}">Richiesta info
              <img class="img-icon" th:src="@{img/icons/info-icon.ico}" alt="Logo info">
            </a>
          </li>
        </ul>
        </li>

        </ul>

      </div>
    </div>
  </nav>
</th:block>