<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">

<head th:replace="~{fragments/head :: head('Home')}"></head>

<body>
    <nav th:replace="~{fragments/navbar :: nav}"></nav>

    <h1 class="text-center mt-3">Benvenuti in MyWeddingApp</h1>
    <main class="container mt-2 py-5">


        <h6>In questa piattaforma potrai utilizzare varie funzioni per il tuo matrimonio</h6>
        <h3 th:text="${message}" class="text-success"></h3>

    </main>


 <th:block th:insert="~{fragments/footer :: script}"></th:block>

</body>

</html>