<!DOCTYPE html>
<html xmlns="" lang="en">

<head th:replace="~{fragments/head :: head('Home')}">>

</head>

<body>

    <nav th:replace="~{fragments/navbar :: nav}"></nav>

    <main class="container mt-2 py-5">
        <h2 class="mt-3">Qui potrai caricare le tue foto</h2>
        <h5 th:if="${error}" class="text-danger" th:text="${error}"></h5>
        <h5 th:if="${success}" class="text-success" th:text="${success}"></h5>

        <form th:action="@{./upload}" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label class="form-label" for="photo">Carica la tua foto</label>
                <input class="form-control" type="file" name="files" accept="image/*" multiple>
            </div>

            <button class="btn btn-primary" type="submit">Invia</button>
        </form>

        <div class="d-flex" th:if="${success}">
            <p>Questo è il link per visualizzare le foto: &nbsp;
            <div th:each="uploadedFile : ${uploadedFiles}" th:object="${uploadedFile}">
                <a class="link-success link-offset-2 link-underline-opacity-25 link-underline-opacity-100-hover" th:href="*{url}" target="_blank">[[*{name}]]</a>
            </div>
            </p>
        </div>
    </main>


    <th:block th:insert="~{fragments/footer :: script}"></th:block>

</body>




</html>