body {
  background-color: blueviolet;
  color: whitesmoke;
}

.container {
  background-color: rgba(0, 0, 0, 0.3);
  width: 80%;
}

.preview-container {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  margin-top: 10px;
}
.preview-container img {
  width: 150px;
  height: 200px;
  border: 1px solid #ccc;
  border-radius: 8px;
  object-fit: cover;
  margin: 10px;
}

.nav-item:hover{
  color: black;
}


.navbar, .dropdown-menu{
  background-image: linear-gradient(blueviolet,rgb(87, 10, 187) ,blueviolet);
  box-shadow: 2px 2px 4px antiquewhite;

}

.scrolling{
  overflow: auto;
}

.status-badge{
  width: fit-content;
  padding: 3px;
  border-radius: 5px;
  color: white;
}

.accepted{
  background-color: green;
}

.rejected{
  background-color: red;
}

.waiting{
  background-color: orange;
}

.cell-content{
   max-height: 50px;
}

.buttons{
  width: 200px;
}



